body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #e6dcea;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #8f65b2;
  color: white;
}

li a:hover:not(.active) {
  background-color: #580e51;
  color: white;
}

body {
  background-image: url('afbackground2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}